<table class="table table-hover">
	<thead>
    	<tr>
	    	<th>ID</th>
	    	<th>Title</th>
	    	<th>Options</th>
	     	<th colspan="3"></th>
    	</tr>
  	</thead>
  	<tbody>
		<%- @tasks.each do |task| -%>
			<tr>
				<td><%= task.id %></td>
				<td><%= link_to task.title, task %></td>
				<td><%= link_to "Edit", edit_task_path(task), :class => "btn btn-warning btn-xs" %>
				<%= link_to "Destroy", task_path(task), method: :delete,  data: { confirm: "You sure?" }, :class => "btn btn-danger btn-xs" %></td>
			</tr>
		<%- end -%>
	</tbody>
</table>

<br>

