<section class="content">
    <div class="span6 offset3">
        <%= form_for @task, :html => {'data-type' => 'json', :multipart => true, method: :put } do |f| %>
            <%#= render 'shared/error_messages', object: f.object %>
            <div class="row-4">
                <%= f.label :title %>
                <%= f.text_field :title %>
            </div>
            <br />
            <div class="row-4">
               <%= f.label :body, "Details" %>
                <%= f.text_area :body %>
            </div>
            <%= f.submit "Update", :class => "btn btn-success" %>
        <% end %>
    </div>
    <br />
    <div class="links">
        <%= link_to "Back", tasks_path %>
    </div>
</section>