<section class="content">
    <div class="row">
        <div class="span6 offset3">
            <%= form_for @task, :html => {'data-type' => 'json', :multipart => true} do |f| %>
                <div class="row">
                    <%= f.label :title %>
                    <%= f.text_field :title %>
                </div>
                <br />
                <div class="row">
                   <%= f.label :body, "Details" %>
                    <%= f.text_area :body, cols: 20, rows: 5 %>
                </div>
                <%= f.submit "Create", :class => "btn btn-success" %>
            <% end %>
        </div>
    </div>
    <br />
    <div class="links">
        <%= link_to "Back", tasks_path %>
    </div>
</section>