<h3><%= @task.title %></h3>
<div>
	<%= @task.body %>
</div>

<br>

<%= link_to "Edit", edit_task_path, :class => "btn btn-warning btn-xs" %>
<%= link_to "Back", tasks_path, :class => "btn btn-primary btn-xs" %>
